@font-face {
  font-family: "Azonix";
  src: url("/fonts/Azonix.otf") format("truetype");
}

@font-face {
  font-family: "ELIXIA";
  src: url("/fonts/ELIXIA.ttf") format("truetype");
}

@font-face {
  font-family: "Alpha";
  src: url("/fonts/Alpha-Centauri.ttf") format("truetype");
}

.container {
  height: calc(100vh);
  overflow: hidden;
  position: relative;
  border-image: fill 0 linear-gradient(#000, rgb(43, 39, 61));
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  height: 90%;
  margin: auto;
  color: #ececec;
}

.textContainer {
  flex: 1;
  display: flex;
  gap: 40px;
  color: #ececec;
  width: 80%;
  margin-top: 180px;
  margin-left: -50px;
}

.title {
  font-family: "Alpha", sans-serif;
  font-size: 60px;
  text-shadow: 0 0 0 rgba(232, 28, 255, 0), 0 0 0 rgba(64, 201, 255, 0);
  background-clip: text;
  -webkit-background-clip: text;
  animation: changeColor 5s linear infinite;
  transition: text-shadow 0.3s ease-in-out;
}

@keyframes changeColor {
  0% {
    color: #8a2be2;
  }
  25% {
    color: #e81cff;
  }
  50% {
    color: #a788ec;
  }
  75% {
    color: #efa0a5;
  }
  100% {
    color: #8a2be2;
  }
}

.title:hover {
  text-shadow: 0 0 20px rgba(232, 28, 255, 0.7),
    0 0 40px rgba(64, 201, 255, 0.7);
}

.subContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 100px;
}

.itemsContainer {
  margin-top: 60px;
  margin-left: 100px;
  width: 50%;
}

.itemsContainer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  font-family: "Azonix", sans-serif;
}

.itemsContainer ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.formContainer {
  flex: 1;
  position: relative;
  height: 30rem;
  width: 100%;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.input,
.textarea {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(43, 39, 61);
  padding: 20px;
  color: #ececec;
  border-radius: 15px;
  transition: border 0.3s ease-in-out;
  resize: none;
  font-family: "Fredoka", sans-serif;
}

.input:focus,
.textarea:focus {
  outline: none;
  border: 1px solid #e81cff;
}

.icon {
  color: #ececec;
}

.icon:hover {
  color: #e81cff;
  transition: color 0.3s ease-in-out;
}

.button {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background: rgb(43, 39, 61);
  color: #ececec;
  border: solid transparent;
  border-radius: 15px;
  font-family: "Azonix", sans-serif;
  font-size: 15px;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(58, 50, 92);
}

@media (max-width: 800px) {
  .wrapper,
  .container {
    max-width: 100%;
  }

  .subContainer {
    height: 50vh;
    width: 90vw;
  }

  .textContainer {
    margin: 0 auto;
    margin-top: 200px;
    width: 100%;
  }

  .title {
    font-size: 60px;
    text-align: center;
  }

  .itemsContainer {
    display: none;
  }

  .formContainer {
    margin-top: 10px;
  }

  .button:hover,
  .button:focus,
  .button:active {
    background-color: rgb(58, 50, 92);
  }
}

@media (max-width: 720px) {
  .container,
  .wrapper {
    width: 100vw;
  }

  .textContainer {
  }

  .title {
    font-size: 55px;
    text-align: center;
  }
}
