@font-face {
  font-family: "Azonix";
  src: url("../src/assets/fonts/Azonix.otf") format("truetype");
}

@font-face {
  font-family: "ELIXIA";
  src: url("../src/assets/fonts/ELIXIA.ttf") format("truetype");
}

.container {
  height: calc(100vh);
  overflow: hidden;
  position: relative;
  border-image: fill 0 linear-gradient(rgb(43, 39, 61), #000);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: auto;
  color: #ececec;
}
