@font-face {
  font-family: "Azonix";
  src: url("/fonts/Azonix.otf") format("truetype");
}

@font-face {
  font-family: "ELIXIA";
  src: url("/fonts/ELIXIA.ttf") format("truetype");
}

@font-face {
  font-family: "Alpha";
  src: url("/fonts/Alpha-Centauri.ttf") format("truetype");
}


.container {
  height: calc(100vh);
  overflow: hidden;
  position: relative;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100vh;
  margin: auto;
  color: #ececec;
}

.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  border-radius: 5px;
  gap: 5rem;
}

.dataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 800px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.75);
  border: 5px solid transparent;
  border-radius: 20px;
  border-image-slice: 1;
}

.name {
  font-family: "ELIXIA", sans-serif;
  font-size: 80px;
  font-weight: bold;
  margin-top: -100px;
  letter-spacing: 10px;
}

.seniority {
  font-family: "Azonix", sans-serif;
  font-size: 40px;
  color: transparent;
  text-shadow: 0 0 0 rgba(232, 28, 255, 0), 0 0 0 rgba(64, 201, 255, 0);
  background-clip: text;
  -webkit-background-clip: text;
  animation: changeColor 5s linear infinite;
  transition: text-shadow 0.3s ease-in-out;
}

@keyframes changeColor {
  0% {
    color: #8a2be2;
  }
  25% {
    color: #e81cff;
  }
  50% {
    color: #a788ec;
  }
  75% {
    color: #efa0a5;
  }
  100% {
    color: #8a2be2;
  }
}

.seniority:hover {
  text-shadow: 0 0 20px rgba(232, 28, 255, 0.7),
    0 0 40px rgba(64, 201, 255, 0.7);
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icon {
  height: 80px;
  width: 100px;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 800px) {
  .container,
  .wrapper {
    width: 100vw;
  }

  .heroContainer {
    width: 100vw;
  }

  .dataContainer {
    width: 100vw;
    height: 300px;
  }

  .name {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
  }
}
