@font-face {
  font-family: "Azonix";
  src: url("/fonts/Azonix.otf") format("truetype");
}

@font-face {
  font-family: "ELIXIA";
  src: url("/fonts/ELIXIA.ttf") format("truetype");
}

@font-face {
  font-family: "Alpha";
  src: url("/fonts/Alpha-Centauri.ttf") format("truetype");
}

/* #6610f2 */
.container {
  height: calc(100vh);
  overflow: hidden;
  position: relative;
  border-image: fill 0 linear-gradient(#000, rgb(43, 39, 61));
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  height: 100%;
  margin: auto;
  color: #ececec;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.title {
  font-family: "Alpha", sans-serif;
  font-size: 60px;
  text-shadow: 0 0 0 rgba(232, 28, 255, 0), 0 0 0 rgba(64, 201, 255, 0);
  background-clip: text;
  -webkit-background-clip: text;
  animation: changeColor 5s linear infinite;
  transition: text-shadow 0.3s ease-in-out;
  margin-top: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes changeColor {
  0% {
    color: #8a2be2;
  }
  25% {
    color: #e81cff;
  }
  50% {
    color: #a788ec;
  }
  75% {
    color: #efa0a5;
  }
  100% {
    color: #8a2be2;
  }
}

.title:hover {
  text-shadow: 0 0 20px rgba(232, 28, 255, 0.7),
    0 0 40px rgba(64, 201, 255, 0.7);
}

.textContainer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imageContainer {
  width: 250px;
  height: 250;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  background: transparent;
}

.imageLoaded {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bioContainer {
  width: 50%;
}

.text {
  font-family: "Azonix", sans-serif;
  font-size: 17px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: rgb(43, 39, 61);
  color: #ececec;
  border: solid transparent;
  border-radius: 15px;
  font-family: "Azonix", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(58, 50, 92);
}

.sliderContainer {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.card {
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Azonix", sans-serif;
  text-transform: capitalize;
  /* color: #e81cff; */
  color: transparent;
  text-shadow: 0 0 0 rgba(232, 28, 255, 0), 0 0 0 rgba(64, 201, 255, 0);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  transition: text-shadow 0.3s ease-in-out;
}

.heading:hover {
  text-shadow: 0 0 20px rgba(232, 28, 255, 0.7),
    0 0 40px rgba(64, 201, 255, 0.7);
}

@media (max-width: 800px) {
  .container,
  .wrapper {
    max-width: 100vw;
  }

  .title {
    font-size: 55px;
    margin-top: 100px;
  }

  .textContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .image {
    width: 150px;
    height: 150px;
  }

  .bioContainer {
    width: 90vw;
    margin-top: 20px;
  }

  .text {
    font-size: 15px;
    text-align: left;
    width: 90vw;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin-top: 100px;
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 720px) {
  .buttonContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin-top: 20px;
    margin-bottom: 0;
    width: 200px;
    height: 50px;
  }
}
