@font-face {
  font-family: "Azonix";
  src: url("/fonts/Azonix.otf") format("truetype");
}

@font-face {
  font-family: "ELIXIA";
  src: url("/fonts/ELIXIA.ttf") format("truetype");
}

@font-face {
  font-family: "Alpha";
  src: url("/fonts/Alpha-Centauri.ttf") format("truetype");
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  gap: 2rem;
  color: #ececec;
  height: 90px;
  width: 100%;
  z-index: 2;
  bottom: 0;
}

.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: #e81cff;
  transition: color 0.3s ease-in-out;
}

.dataContainer {
  font-size: 12px;
  margin-top: 50px;
  margin-left: 400px;
  color: rgb(168, 160, 149);
  font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 90px;
  }

  .linkContainer {
    height: 20px;
    gap: 2rem;
  }

  .dataContainer {
    margin-top: 25px;
    margin-left: 80px;
  }
}
