html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@media (max-width: 800px) {
  html {
    scroll-snap-type: unset;
  }
}

.loader {
  background: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
