@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

@font-face {
  font-family: "Azonix";
  src: url("../src/assets/fonts/Azonix.otf") format("truetype");
}

@font-face {
  font-family: "ELIXIA";
  src: url("../src/assets/fonts/ELIXIA.ttf") format("truetype");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
